snippet enc
	# -*- encoding : utf-8 -*-
	${0}

snippet railties
	require "active_record/railtie"
	require "action_controller/railtie"
	require "action_mailer/railtie"
	require "active_resource/railtie"
	require "rails/test_unit/railtie"
	require "sprockets/railtie"
	${0}

