priority -60

snippet "co(author)?" "Co-authored-by: name <email@domain.com>" r
Co-authored-by: ${1:name} <${2:email@domain.com}>
endsnippet

snippet ci "[skip ci tag]"
[skip ci]
endsnippet

snippet change "[skip changeset]"
[skip changeset]
endsnippet

snippet review "[skip review]"
[skip review]
endsnippet

# vim:ft=snippets:
