# Haml snippets

snippet pry "- binding.pry" w
- require "pry"; binding.pry$0
endsnippet

snippet # "Wrap in #{code}" i
#{${0:${VISUAL:code}}}
endsnippet

snippet each "each do |variable|" i
each do |${1:variable}|
  $0
endsnippet

# vim:ft=snippets:
